{% extends "base.html" %}

{% block title %}
Create Product
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Create New Product</h1>

    <div class="card">
        <form method="post">
            <div class="card-body">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="name" class="form-label">Name</label></td>
                        <td><input type="text" class="form-control" id="name" name="name" placeholder="Enter product name" required /></td>
                    </tr>
                    <tr>
                        <td><label for="barcode" class="form-label">Barcode</label></td>
                        <td><input type="text" class="form-control" id="barcode" name="barcode" placeholder="Enter product barcode" required /></td>
                    </tr>
                    <tr>
                        <td><label for="price" class="form-label">Price</label></td>
                        <td><input type="number" step="0.01" class="form-control" id="price" name="price" placeholder="Enter product price" required /></td>
                    </tr>
                    <tr>
                        <td><label for="stock" class="form-label">Stock</label></td>
                        <td><input type="number" class="form-control" id="stock" name="stock" placeholder="Enter product stock" required /></td>
                    </tr>
                </table>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <a href="{% url 'product_module:product_list' %}" class="btn btn-secondary">Back to List</a>
                <div>
                    <button type="submit" formnovalidate class="btn btn-primary">Create</button>
                    <a href="{% url 'product_module:product_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>            
    </div>
</div>
{% endblock %}